.about{
    font-family: Allura;
font-size: 29px;
}

.headerabout{
    margin-left: 6rem;
}

.aboutimg{
    margin-left: 45rem;
    margin-top: -21%;
}

.abtimg{
    width: 25rem;
}

.processimg{
    margin-top: 5rem;
    width: 83rem;
    height: 30rem;
}

.procdes{
    margin-top: -17%;
    margin-left: 7rem;
    color: #ffff;
    font-size: 20px;
}

.watchbtn{

}

